* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    align-items: center;
}
div h1{
    letter-spacing: 3px;
    font-size: 45px;
    text-transform: uppercase;
}
div input{
    font-size: 20px;
}